apiVersion: v1
kind: ConfigMap
metadata:
  name: test-fixture
  namespace: {{ .Namespace }}
data:
  hello: world
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: test-fixture-2
  namespace: {{ .Namespace }}
data:
  hello: again
