apiVersion: apps/v1
kind: Deployment
metadata:
  name: test-fixture-deployment
  namespace: {{ .Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: test-fixture-deployment
  template:
    metadata:
      labels:
        app: test-fixture-deployment
    spec:
      containers:
        - name: echo
          image: kennethreitz/httpbin
          ports:
            - containerPort: 80
